flow.json
[{"id":"48347894.7e8ba","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5e612f6.d9068","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5c5c6c12.c31e8c","type":"inject","z":"48347894.7e8ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["ddde888d.2ac1f8","10cdda1a.0eea56"]]},{"id":"ddde888d.2ac1f8","type":"debug","z":"48347894.7e8ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"10cdda1a.0eea56","type":"function","z":"48347894.7e8ba","name":"Generate random generator","func":"// generate random number\n\nvar min = 1 ;\n\nvar max = 10 ;\n\nvar a = Math.floor( Math.random() * (max + 1 - min) ) +   min ;\n\n// set random number to message\n\nmsg.payload = a;\n\n// return message\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":240,"wires":[["57ccb09c.48405","cdd0ce6e.d78a9"]]},{"id":"57ccb09c.48405","type":"switch","z":"48347894.7e8ba","name":"Big and small","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"6","vt":"str"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":260,"wires":[["b686fb8a.823b38"],["ea33e6e9.da48b8"]]},{"id":"cdd0ce6e.d78a9","type":"change","z":"48347894.7e8ba","name":"Change to String","rules":[{"t":"set","p":"payload","pt":"msg","to":"It has been changed to string data!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":360,"wires":[["7dfaaf7b.ac98e8"]]},{"id":"821a14ee.e949a8","type":"debug","z":"48347894.7e8ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"7dfaaf7b.ac98e8","type":"debug","z":"48347894.7e8ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"b686fb8a.823b38","type":"template","z":"48347894.7e8ba","name":"Output small","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The number is small: {{payload}} !","output":"str","x":630,"y":220,"wires":[["821a14ee.e949a8"]]},{"id":"ea33e6e9.da48b8","type":"template","z":"48347894.7e8ba","name":"Output Big","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The output is big: {{payload}} !","output":"str","x":630,"y":280,"wires":[["821a14ee.e949a8"]]},{"id":"43eb51ea.4f112","type":"inject","z":"b5e612f6.d9068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["4b3fdfd3.dce7d8"]]},{"id":"4b3fdfd3.dce7d8","type":"http request","z":"b5e612f6.d9068","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Ciudad Autonoma de Buenos Aires,AR&appid=fb63e997fd66519fdea619f6d922fa85","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":200,"wires":[["df097b92.cd88f","4eaca156.a58678"]]},{"id":"4eaca156.a58678","type":"debug","z":"b5e612f6.d9068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"df097b92.cd88f","type":"json","z":"b5e612f6.d9068","name":"","property":"payload","action":"","pretty":false,"x":600,"y":260,"wires":[["8d5303db.a29728"]]},{"id":"8d5303db.a29728","type":"debug","z":"b5e612f6.d9068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]}]